<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <p class="navbar-brand">Pierre's Sweet And Savory Treats</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="~/Flavors">Flavors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="~/Treats">Treats</a>
        </li>
        @if (!User.Identity.IsAuthenticated)
        {
          <li class="nav-item">
            <a class="nav-link" href="~/Account/Login">Log In</a>
          </li>
          <p class="nav-link active">Not logged into account</p>  
        }
        else
        {
          <li class="nav-item">
            <a class="nav-link" href="~/Account">Log Out</a>
          </li>
          <p class="nav-link active">Logged in as @User.Identity.Name</p>  
        }
      </ul>
    </div>
  </div>
</nav>